@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
}
.body {
  background: #3bdaccbd;
}
.container .header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-top: 20px;
}
.container .header .logo h1 {
  font-family: "Pacifico", cursive;
}
.container .header .icon {
  display: flex;
}
.container .header .icon p {
  font-weight: 100;
}
.container .header .icon i {
  letter-spacing: 7px;
}
.container .card {
  width: 450px;
  height: 500px;
  margin: 5% auto;
  /* padding: 20px; */
  border-radius: 5px;
  border: none;
}
.container .card .card-header {
  border: none;
  display: flex;
  color: #8f8f8f;
  justify-content: space-between;
}
.container .card .card-header .right i {
  font-size: 0px;
}
.container .card .card-body button {
  background: #1f99be;
  outline: none;
  border: none;
}